.skills-section {
  padding: 40px 0;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  color: #f39c12;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background: linear-gradient(to right, #1e2024, #202327);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.card:hover {
  transform: translateY(-10px);
  background-color: black;
  .card-body h3{
    color: #f39c12;
  }
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 15px;
}

.card-body h3 {
  font-size: 22px; 
  color: #fff;
  margin-top: 10px;
}

.icons {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .card {
    height: auto;
  }
}
