.right-banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
  }
  
  .banner-image {
    width: 300px; 
    height: 400px; 
    z-index: 10;
  }
  
  .gradient-overlay {
    position: absolute;
    bottom: 0;
    width: 350px; 
    height: 300px; 
    background: linear-gradient(to right, #1e2024, #202327);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 1024px) {
    .banner-image {
      width: 500px;
      height: 680px;
    }
  
    .gradient-overlay {
      width: 500px;
      height: 500px;
    }
  }
  